@{
    ViewBag.Title = "Calendar & Holidays";
    Layout = "~/Views/Shared/_Layouts.cshtml";
    
}
<div class="row">
    <section class="col-md-12 col-md-push-0">
        <div class="row">
            <div class="col-xs-9 col-xs-push-2">
                <div class="box box-primary">
                    <div class="box-body no-padding">                       
                        <div id="calendar"></div>
                    </div><!-- /.box-body -->
                </div><!-- /. box -->
            </div><!-- /.col -->
        </div>
    </section>
</div>

<script>
    $(document).ready(function () {
        
        $('#calendar').fullCalendar({
            header:
            {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            buttonText: {
                today: 'today',
                month: 'month',
                week: 'week',
                day: 'day'
            },

            events: function (start, end, timezone, callback) {
                $.ajax({
                    url: '/Calendar/GetCalendarData',
                    type: "GET",
                    dataType: "JSON",

                    success: function (result) {
                        var events = [];

                        $.each(result, function (i, data) {
                            if (data.Title == 'SUNDAY') { 
                            events.push(
                                {
                                   
                                    title: data.Title + ' : ' + data.Desc,
                                    description: data.Desc,
                                        start: moment(data.Start_Date).format('YYYY-MM-DD'),
                                            end: moment(data.End_Date).format('YYYY-MM-DD'),
                                    backgroundColor: "#FFFFCC",
                                                    borderColor: "white",
                                                        textColor: "black"
                                    
                                    });
                            }
                            else
                            {
                                events.push(
                                    {

                                        title: data.Title + ' : ' + data.Desc,
                                        description: data.Desc,
                                        start: moment(data.Start_Date).format('YYYY-MM-DD'),
                                        end: moment(data.End_Date).format('YYYY-MM-DD'),
                                        backgroundColor: "#FF6699",
                                        borderColor: "white",
                                        textColor: "yellow"

                                    });

                            };
                        });

                        callback(events);
                    }
                });
            },

            eventRender: function (event, element) {
                element.qtip(
                    {
                        content: event.description
                    });
            },

            editable: false
        });
    });
</script>