@model learnersmate.Models.Chapter
@{    
    Layout = null;
}
<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CHAPTER: <h5 style="color:deepskyblue">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Name</h5></td></tr>