@model IEnumerable<learnersmate.Models.NotificationSchool>
<div class="task-item-users" data-assigned-users="@ViewBag.SchoolIDList">
    @foreach (var item in Model)
    {
        <a class="assigned-user">
            <div class="profile-picture assigned-user bg-gradient bg-primary float-right d-flex">
                <img class="list-thumbnail" src="@item.CurrentSchool.Logo" width="30" height="30" alt="@item.CurrentSchool.Name">
            </div>
        </a>
    }
</div>