@{
    ViewBag.Title = "DEMO SCHOOL";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">API Help</p>
    <p><a href="/api/help" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
